body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
    width: 80%;
    height: 200px;
    background-image: url(./images/imagebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.title a {
    color: #fff;
    text-decoration: none;
}


.search-bar {
    width: 80%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.553);
}

#search {
    box-sizing: border-box;
    background-color: #2e2e2f;
    border: none;
    padding: .8rem 0rem .8rem 2.5rem;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
}

#search:focus {
    outline: none;
}

#submit {
    font-size: 1rem;
    background-color: #4b4b4b;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: .8rem 1.5rem;
    cursor: pointer;
}

#icon-search {
    position: absolute;
    top: 15px;
    left: 15px;
    color:#4b4b4b;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#4b4b4b;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#4b4b4b;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:#4b4b4b;
  }

.container {
    margin: 0px auto;
    padding: 1rem 0;
    width: 63%;
    height: auto;
    border-bottom: 1.5px solid #2c2c2c;
}

.movie-details {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.movie-details img {
    width: 99px;
    height: 148px;
    background-size: cover;
    text-align: center;
    color: #4b4b4b;
}

.movie-details p {
    margin: 10px;
    font-size: .9rem;
}

.movie-info span {
    font-weight: 400;
    font-size: .7rem;
}

#star {
    color: yellow;
    padding: 0 3px;
}

#movie-title {
    font-weight: 800;
    font-size: 1.2rem;
}

.time-type {
    display: flex;
    align-items: center;
}

.time-type p {
    margin: 0 10px;
}

#description {
    color: #a5a5a5;
}

#add-watchlist {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: .9rem;
}

#remove-watchlist {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: .9rem;
}

.remove {
    display: none;
}

.fa-check {
    background: none;
    border: none;
    color: rgb(54, 220, 3);
    cursor: pointer;
    font-size: .9rem;
}

.fa-circle-plus, .fa-circle-minus {
    margin: 0 4px;
}

.fa-solid {
    margin-right: 5px;
}

.fa-star {
    color: rgb(255, 213, 0);
    margin: 0 4px;
}

.explore {
    display: flex;
    align-items: center;
    width: fit-content;
    height: calc(100vh - 200px);
    margin: auto;
}

#section2 {
    height: 300px;
}